@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* shared-style */
.display-flex{
  display: flex;
}

main > section{
  margin-top: 130px;
}

/* dark-2 */
.text-gray{
  color: #424242;
}

/* dark-3 */
.text-light-gray{
 color: #727272;
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
/* header-style */

/* navbar-style */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
font-size: 3rem;
font-weight: 700;
}

.nav-link{
  font-weight: 500;
  text-decoration: none;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.header-banner{
  font-size: 4rem;
  font-weight: 700;
}

.banner-image{
  width: 100%;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-links{
    flex-direction: column;
  }
}

.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-features{
  margin-left: 73px;
  max-width: 530px;
}
#Quick-list{
  font-weight: 500;
}

.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}